# fastAPI
fastapi~=0.109.1 # FastAPI
uvicorn~=0.27.0 # Uvicorn ASGI server
httpx~=0.26.0 # HTTP client

# tools
pyyaml~=6.0 # yaml
types-pyyaml~=6.0 # yaml types
structlog~=24.1.0 # logging

# linting and type checking
pylint~=3.0.3
pylint-pydantic~=0.3.2 # Pydantic plugin for pylint
mypy~=1.8 # type checking
yapf~=0.40.2 # code formatting

# testing & QA
pytest~=8.0.0 # testing
tox~=4.14.1 # testing
coverage~=7.4.1 # code coverage
