# fastAPI
fastapi~=0.104.1 # FastAPI
uvicorn~=0.23.2 # Uvicorn ASGI server
httpx~=0.26.0 # HTTP client

# tools
pyyaml~=6.0 # yaml
types-pyyaml~=6.0 # yaml types
structlog~=23.1.0 # logging

# linting and type checking
pylint~=3.0.3
pylint-pydantic~=0.3.2 # Pydantic plugin for pylint
mypy~=1.8 # type checking
yapf~=0.40.1 # code formatting

# testing & QA
pytest~=8.0.0 # testing
tox~=4.11.4 # testing
coverage~=7.3.2 # code coverage
